*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-img{
    height: 46px;
}

.navbar{
    background-color: #FFC017;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 36px;
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
    color: rgb(4, 0, 0);
    font-size: 16px;
}

.rightnav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px
}

.button1{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    padding: 6px 15px;
    border-radius: 25px;
}

#started{
    background-color: #FFC017;
    height: 528px;
    width: 100%;
}

#started h1{
    font-size: 78px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#started p{
    font-size: 24px;
}

.button2{
    height: 42px;
    width: 220px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.left{
    padding-top: 174px;
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
}
#trending {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: auto;
    padding: 50px 40px;
}

.on h2 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust gap as needed */
}

.num span{
    font-size: 36px;
    color: #f2f2f2;
    font-weight: 500;
}

.num {
    display: flex;
    gap: 22px;
    height: auto;
    width: 100%;
}

.pro-img {
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.pro-img-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.title h4 {
    font-size: 13px;
    font-weight: 500;
}

.box h2 {
    font-size: 16px;
    font-weight: 700;
}

.box p {
    font-size: 13px;
}

h5 {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 10px;
}


#blogs{
    padding: 40px 60px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    gap: 20px;
}

.section{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    margin: 35px auto;
    height: auto;
    width: auto;
}

.section a{
    color: green;
    margin-left: 8px;
    margin-bottom: 10px;
}

.links{
    border-top: 0.6px solid #6b6b6b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 6px;
    justify-content: space-between;
}

.links a{
    color: #6B6B6B;
    /* margin: 10px 4px;
    padding: 10px 5px; */
}

.buttons button{
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    border: none;
    margin: 5px 4px;
}

.card{
    display: flex;
    justify-content: space-between;
    height: 160px;
    width: 658px;
    margin: 25px auto;
}

.image img{
    height: 134px;
    width: 200px;
    margin-top: 20px;
    margin-right: 0%;
}

.post{
    margin: 12px 5px;
    width: auto;
}

.post h2{
    font-size: 20px;
}

.post p{
    font-size: 16px;
}

.end{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.end p{
    font-size: 13px;
}

.end span{
    margin-right: 25px;
}

@media screen and (max-width:1120px){
    #blogs{
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .section{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

    #started{
        height: 580px;
    }

    #started h1{
        font-size: 68px;
    }
    
    #started p{
        font-size: 22px;
    }

    .left{
        padding-top: 154px;
        padding-left: 64px;
    }

    .links{
        display: none;
    }

    .buttons button{
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 70px;
        border: none;
        margin: 5px 4px;
        padding: 5px 20px;
    }
}

@media screen and (max-width: 730px){
    .rightnav a{
        display: none;
    }

    #started{
        height: 458px;
    }

    .left{
        padding-top: 134px;
        padding-left: 53px;
    }

    .button2{
        height: 36px;
        width: 180px;
        font-size: 18px;
        border-radius: 22px;
        margin-top: 18px;
    }

    #started h1{
        font-size: 54px;
    }
    
    #started p{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px){

    #blogs{
        padding: 8px 14px;
    }

    .logo-img{
        height: 32px;
    }

    .left{
        padding-top: 129px;
        padding-left: 49px;
    }

    .image img {
        max-width: 150px;
        height: 100px;
    }  

    .button1{
        font-size: 12px;
        padding: 4px 10px;
        border-radius: 15px;
    }

    .card{
        width: 458px;
        margin: 25px auto;
    }

    #started h1{
        font-size: 44px;
    }
    
    #started p{
        font-size: 18px;
    }

    #started{
        height: 428px;
    }

    .button2{
        height: 32px;
        width: 160px;
        font-size: 16px;
        border-radius: 20px;
        margin-top: 16px;
    }

    .post p{
        display: none;
    }

    .end p{
        display: contents;
    }

    .post h2{
        font-size: 16px;
    }
}

@media screen and (max-width: 530px){

    .left{
        padding-top: 99px;
        padding-left: 39px;
    }

    #started{
        height: 368px;
    }

    #started h1{
        font-size: 38px;
    }
    
    #started p{
        font-size: 18px;
    }

    .button2{
        height: 32px;
        width: 150px;
        font-size: 14px;
        border-radius: 22px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 500px){
    .card{
        width: 352px;
    }

    #started h1{
        font-size: 32px;
    }
    
    #started p{
        font-size: 18px;
    }

    .post h2{
        font-size: 14px;
    }

    .post h4{
        font-size: 10px;
    }

    #started{
        height: 328px;
    }
    
    .image img {
        max-width: 120px;
        height: 80px;
    }  

    .end p{
        font-size: 8px;
    }
}